@page "/fluentSystemIconsRegular"
@using System.Text.RegularExpressions

<style>
    .preview {
        margin: 10px;
        --card-width: 120px;
        --card-height: 120px;
        --elevation: 6;
    }

        .preview:hover {
            --elevation: 12;
        }

        .preview .inner {
            text-align: center;
            padding: 0 10px 10px;
            color: var(--neutral-foreground-rest);
        }

            .preview .inner i {
                line-height: 85px;
            }

    .label {
        text-align: center;
        padding: 2px 5px;
        font-size: 10px;
        font-family: Monaco, monospace;
        white-space: nowrap;
        overflow: hidden;
        background: var(--neutral-stroke-rest);
    }
</style>


<PageTitle>Fluent System Icons | Blazor Fluent UI WebAssembly Demo</PageTitle>

<h1>Fluent System Icons - Regular</h1>
<h2>Overview</h2>

<p>
    The Fluent System Icons set is available as 2 TrueType fonts. This page shows the regular icons.
</p>


<div id="regular" data-is-scrollable="true" style="overflow-y:auto;height:600px;">
    <div style="display:flex;flex-flow: row wrap;">
        @foreach (IconModel? icon in regularIcons)
        {
            <FluentCard class="preview">
                <div class="inner" style="font-size: @(icon.Size)px">
                    <FluentIcon Name=@icon.Name Size=@icon.Size Filled=@icon.IsFilled />
                </div>
                <div class="label">@icon.Name (@icon.Size)</div>
            </FluentCard>
        }
    </div>
</div>

@code {
    List<IconModel> regularIcons = new();


    protected override Task OnInitializedAsync()
    {

        regularIcons = filterIcons();

        return Task.CompletedTask;
    }

    private List<IconModel> filterIcons()
    {

        var regex = new Regex(@"(\w*)_(\d*)_(\w*)");

        var data = FluentSystemIcons_Regular.IconMap.Select(x =>
        {
            var matches = regex.Matches(x.Key);
            if (matches.Count > 0)
            {
                var model = new IconModel()
                    {
                        Name = matches[0].Groups[1].Value,
                        Size = int.Parse(matches[0].Groups[2].Value),
                        IsFilled = matches[0].Groups[3].Value == "filled" ? true : false
                    };
                return model;
            }
            else
                return new IconModel();
        })
        .OrderBy(t => t.Name).ThenBy(t => t.Size).ToList();

        return data;
    }
 }