@font-face {
    font-family: "FluentSystemIcons-Filled";
    src: url("FluentSystemIcons-Filled.woff2") format("woff2");
}

@font-face {
    font-family: "FluentSystemIcons-Regular";
    src: url("FluentSystemIcons-Regular.woff2") format("woff2");
}

i[class*="_filled"] {
    font-family: FluentSystemIcons-Filled!important;
    font-style: normal;
    color: var(--accent-fill-rest);
}

i[class*="_regular"] {
    font-family: FluentSystemIcons-Regular!important;
    font-style: normal;
    color: var(--accent-fill-rest);
}
